@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar{
  display: none;
}

html {
  scroll-behavior: smooth;
}

#background {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}
